<%- include ('partials/header'); -%>
        <header>
            <h1>Video Games: The Development of Graphics</h1>
        </header>
        <nav>
            <hr width="100%" />
            <a href="/home"><u>Home</u></a>
            <a href="/info1">Newest Games</a>
            <a href="/info2">Earliest Games</a>
            <a href="/info3">How have they changed?</a>
        </nav>
        <main>
            <figure1 id="spiderman">
                <img src="img/Spiderman image.jpg" alt="Picture from Spiderman game" />
            </figure1>
            <figure2>
                <img src="img/marioImage.png" alt="Picture Super Mario Bros 1"/>
            </figure2>
            <div id="introduction1">
                <p>For the lives of many young people, videogames were important parts of them growing up.</p>
                <p>With the advancements of technology over the past couple of years, making videogames with advanced graphics seems to be childs play for some developers.</p>
                <p>No matter how you look at it, videogames are continuing to evolve daily.</p>
            </div>
        </main>
<%- include ('partials/footer'); -%>