<%- include ('partials/header'); -%>
        <header>
            <h1>Video Games: The Development of Graphics</h1>
        </header>
        <nav>
            <hr width="100%" />
            <a href="/home">Home</a>
            <a href="/info1"><u>Newest Games</u></a>
            <a href="/info2">Earliest Games</a>
            <a href="/info3">How have they changed?</a>
        </nav>
        <main>
            <figure3 id="kratos">
                <img src="img/kratos image.jpg" alt="Picture from God of War" />
            </figure3>
            <div>
                <div id="introduction">
                </br></br></br></br></br>
                <p>One of the biggest examples of a newer game that has advanced graphics compared to years before would be the game "God of War" for the Playstation 4.  As you can see, the life-like appearance of the characters shows just how much newer graphics engines can handle.</p>
                </div>
                <button type="button" onclick="alert('Told you :)')">I'm pointless!</button>
                <a href="https://gamingbolt.com/god-of-war-ps4-pro-vs-ps4-graphics-analysis-arguably-the-best-looking-game-of-all-time">Source for graphics information</a>
            </div>
        </main>
<%- include ('partials/footer'); -%>