<%- include ('partials/header'); -%>
        <header>
            <h1>Video Games: The Development of Graphics</h1>
        </header>
        <nav>
            <hr width="100%" />
            <a href="/home">Home</a>
            <a href="/info1">Newest Games</a>
            <a href="/info2">Earliest Games</a>
            <a href="/info3"><u>How have they changed?</u></a>
        </nav>
        <main>
            <figure5>
                <img src="img/deathstranding.jpg" alt="Picture Death Stranding"/>
            </figure5>
            </br></br></br></br></br>
            <div3 id="changes">
                <p>The only real things that have changed for video game development has been the innovations of graphics technology.  It's gotten to the point to where companies are able to recreate actual places that are both interative and realistic for the players.</p>
            </div3>
        </main>
<%- include ('partials/footer'); -%>