<%- include ('partials/header'); -%>
        <header>
            <h1>Video Games: The Development of Graphics</h1>
        </header>
        <nav>
            <hr width="100%" />
            <a href="/home">Home</a>
            <a href="/info1">Newest Games</a>
            <a href="/info2"><u>Earliest Games</u></a>
            <a href="/info3">How have they changed?</a>
        </nav>
        <main>
            <figure4>
                <img src="img/doom1.png" alt="Picture Doom 1"/>
            </figure4>
            </br></br></br></br></br>
            <div id="oldgames">
                <p>With this image, it shows where video games started at.  Doom 1 was one of the earliest main-stream games of it's time.  With all of the graphics being pixelated, that was the only thing that old computers could handle.</p>
                <p><mark>This game was also one of the many blamed for violence among teens.</mark></p>
                <a href="https://www.irishtimes.com/business/technology/doom-s-comeback-already-drawing-fire-for-extreme-violence-1.2250059">Doom Violence link</a>
            </div>
        </main>
<%- include ('partials/footer'); -%>